<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oAuthConsumerKey</key>
	<string>erRX64spTPkdyzqxbAkW9OFa1</string>
	<key>consumerSecret</key>
	<string>fdys3G9u9OGqoqETty9uxcGtb64YKDaOHxHhenNCRCsoqq1qL5</string>
	<key>oauthToken</key>
	<string>104355235-oBHSRpnycmA5brEQgYwwkTaRlehFneZwlMnYTxP5</string>
	<key>oauthTokenSecret</key>
	<string>DvsQBTuSzsId9cH9tNKgkIziZM0c49vhkUrHtZIuoN819</string>
</dict>
</plist>
